.nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 1100px;
  box-shadow: 0 -13px 18px -5px rgba(0, 0, 0, 0.1) inset;
  background-color: #fff;
  z-index: 3;
}

.nav.indexPage {
  position: static;
  box-shadow: none;
}

.nav ul {
  display: inline-block;
  margin: 0 0 0 36px;
}

.nav li {
  display: inline-block;
  margin-right: 24px;
}

.nav li a {
  display: block;
  width: 124px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-top: 4px solid #fff;
  color: #182d60;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav li .icon {
  vertical-align: middle;
  margin-right: 7px;
}

.nav li.qa .icon {
  width: 16px;
  height: 23px;
}

.nav li.qa:hover a {
  border-color: #a2a4a3;
  color: #a2a4a3;
}

.nav li.qa.on a {
  border-color: #a2a4a3;
}

.nav li.analysis .icon {
  width: 15px;
  height: 21px;
}

.nav li.analysis:hover a {
  border-color: #952d98;
  color: #952d98;
}

.nav li.analysis.on a {
  border-color: #952d98;
}

.nav li.master .icon {
  width: 25px;
  height: 16px;
  vertical-align: initial;
}

.nav li.master:hover a {
  border-color: #d15b05;
  color: #d15b05;
}

.nav li.master.on a {
  border-color: #d15b05;
}

.nav li.rdr a {
  margin-left: -8px;
}

.nav li.rdr .icon {
  width: 19px;
  height: 22px;
  vertical-align: sub;
}

.nav li.rdr:hover a {
  border-color: #002664;
  color: #002664;
}

.nav li.rdr.on a {
  border-color: #002664;
}

.nav .wrap {
  max-width: 980px;
  margin: 0 auto;
}

.nav .desktop {
  display: block;
}

.nav .mobile {
  display: none;
}

.nav .logo {
  position: relative;
  left: -17px;
  height: 65px;
  display: inline-block;
  padding: 22px 17px 18px;
  vertical-align: top;
  background-color: #182D60;
}

.nav .logo h1 {
  line-height: 22px;
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
}

.nav .logo .rdr {
  width: 70px;
  height: 20px;
  margin-left: 9px;
}

.nav .logo:before {
  content: '';
  position: absolute;
  top: 0;
  left: -33px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 33px 65px 0;
  border-color: transparent #182D60 transparent transparent;
}

.nav .logo:after {
  content: '';
  position: absolute;
  top: 0;
  right: -33px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0 65px 33px;
  border-color: transparent transparent transparent #182D60;
}

.nav .shareWrap {
  float: right;
  margin-right: -34px;
  padding: 11px 0 0;
  letter-spacing: -4px;
  white-space: -4px;
  font-size: 0;
}

.nav .shareWrap a {
  display: inline-block;
  width: 43px;
  height: 43px;
  background-image: url(../Images/share_icon.png);
}

.nav .shareWrap .fbShareIcon {
  margin-right: 8px;
}

.nav .shareWrap .fbShareIcon:hover {
  background-position: 0 43px;
}

.nav .shareWrap .lineShareIcon {
  background-position: 43px 0;
}

.nav .shareWrap .lineShareIcon:hover {
  background-position: 43px 43px;
}

@media screen and (max-width: 640px) {
  .nav {
    min-width: auto;
    box-shadow: 0 0 3.125vw rgba(0, 0, 0, 0.3);
  }
  .nav.indexPage {
    box-shadow: 0 0 3.125vw rgba(0, 0, 0, 0.3);
  }
  .nav .desktop {
    display: none;
  }
  .nav .mobile {
    display: block;
  }
  .nav .logo {
    left: 0;
    height: 13.75vw;
    padding: 5vw 0.9375vw 5vw 3.125vw;
    letter-spacing: 0.15625vw;
  }
  .nav .logo:before {
    display: none;
  }
  .nav .logo:after {
    right: -5vw;
    border-width: 0vw 0 13.75vw 5.15625vw;
  }
}

@media screen and (max-width: 640px) and (min-width: 374px) and (max-width: 376px) {
  .nav .logo:after {
    right: -5.06vw;
  }
}

@media screen and (max-width: 640px) {
  .nav .logo h1 {
    line-height: 3.4375vw;
    font-size: 3.28125vw;
  }
  .nav .logo .rdr {
    width: 10.9375vw;
    height: 3.125vw;
    margin-left: 1.40625vw;
  }
  .nav ul {
    display: none;
  }
  .nav .shareWrap {
    float: none;
    display: inline-block;
    margin-left: 5.46875vw;
    padding: 1.71875vw 0 0;
  }
  .nav .shareWrap a {
    width: 10.625vw;
    height: 10.46875vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .nav .shareWrap .fbShareIcon {
    margin-right: 1.25vw;
    background-image: url(../Images/fb_icon_m.png);
  }
  .nav .shareWrap .fbShareIcon:hover {
    background-position: 0 0;
  }
  .nav .shareWrap .lineShareIcon {
    background-image: url(../Images/line_icon_m.png);
    background-position: 0 0;
  }
  .nav .shareWrap .lineShareIcon:hover {
    background-position: 0 0;
  }
}

@media screen and (max-width: 640px) and (max-width: 340px) {
  .nav .shareWrap {
    margin-left: 3.125vw;
  }
}

@media screen and (max-width: 640px) {
  .nav .goBuy {
    position: relative;
    display: inline-block;
    margin: 2.1875vw 1.875vw 0 0;
    padding: 2.1875vw 1.17188vw 2.1875vw 1.17188vw;
    border-radius: 1.25vw;
    background-color: #fa7101;
    letter-spacing: -0.625vw;
    white-space: -0.625vw;
    font-size: 0;
  }
  .nav .goBuy .run {
    display: inline-block;
    vertical-align: top;
    width: 5vw;
    height: 5vw;
    overflow: hidden;
    background-image: url(../Images/run3.png);
    background-size: cover;
    -webkit-animation: run .65s infinite;
            animation: run .65s infinite;
  }
  .nav .goBuy:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 9.21875vw;
    background-image: url(../Images/light_m.png);
    background-repeat: no-repeat;
    -webkit-animation: ligth 3.2s infinite;
            animation: ligth 3.2s infinite;
  }
  .nav .goBuy.mobile {
    display: inline-block;
    float: right;
  }
  .nav .goBuy p {
    display: inline-block;
    vertical-align: top;
    padding-left: 0.3125vw;
    letter-spacing: initial;
    font-size: 4.375vw;
    font-weight: bold;
    color: #fff;
  }
}

@media screen and (max-width: 315px) {
  .nav .shareWrap {
    margin-left: 2.1875vw;
  }
  .nav .shareWrap .fbShareIcon {
    margin-right: 0.625vw;
  }
  .nav .goBuy {
    margin: 2.1875vw 0 0 0;
    padding: 1.5625vw 0.9375vw;
  }
  .nav .goBuy p {
    letter-spacing: -2px;
  }
}

.menu.mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .menu.mobile {
    position: fixed;
    bottom: 0;
    display: block;
    letter-spacing: -0.625vw;
    white-space: -0.625vw;
    font-size: 0;
    background-color: #fff;
    box-shadow: 0 -0.78125vw 1.5625vw 0 rgba(0, 0, 0, 0.07);
    z-index: 3;
    white-space: nowrap;
  }
  .menu.mobile a {
    display: inline-block;
    width: 25vw;
    height: 12.8125vw;
    padding: 1.25vw 0 1.875vw;
    vertical-align: top;
    letter-spacing: normal;
    font-size: 3.28125vw;
    font-weight: bold;
    border-top: 0.78125vw solid transparent;
  }
  .menu.mobile a.on.qa {
    border-top: 0.78125vw solid #a2a4a3;
  }
  .menu.mobile a.on.analysis {
    border-top: 0.78125vw solid #952d98;
  }
  .menu.mobile a.on.rdr {
    border-top: 0.78125vw solid #002664;
  }
  .menu.mobile a.on.master {
    border-top: 0.78125vw solid #d15b05;
  }
  .menu.mobile a .icon {
    display: block;
    margin: 0 auto 1.09375vw;
    width: 2.65625vw;
    height: 3.75vw;
  }
  .menu.mobile a.qa {
    color: #a2a4a3;
  }
  .menu.mobile a.analysis {
    color: #952d98;
  }
  .menu.mobile a.rdr {
    color: #002664;
  }
  .menu.mobile a.rdr .icon {
    width: 2.96875vw;
    height: 3.4375vw;
    margin: 0 auto 1.5625vw;
  }
  .menu.mobile a.master {
    color: #d15b05;
  }
  .menu.mobile a.master .icon {
    width: 4.375vw;
    height: 2.8125vw;
    margin: 0 auto 1.875vw;
  }
  .menu.mobile a h2 {
    height: 8.90625vw;
    text-align: center;
    border-left: 0.15625vw solid #d0d1d1;
    padding-bottom: 0.78125vw;
  }
  .menu.mobile a.qa h2 {
    border-left: 0;
  }
}

@-webkit-keyframes shake {
  0%, 9%, 31%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    background-position-y: -154px;
  }
  10%, 20% {
    -webkit-transform: translate(-7px, 0);
            transform: translate(-7px, 0);
  }
  15% {
    -webkit-transform: translate(7px, 0);
            transform: translate(7px, 0);
  }
  25% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  30% {
    -webkit-transform: translate(-3px, 0);
            transform: translate(-3px, 0);
  }
}

@keyframes shake {
  0%, 9%, 31%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    background-position-y: -154px;
  }
  10%, 20% {
    -webkit-transform: translate(-7px, 0);
            transform: translate(-7px, 0);
  }
  15% {
    -webkit-transform: translate(7px, 0);
            transform: translate(7px, 0);
  }
  25% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }
  30% {
    -webkit-transform: translate(-3px, 0);
            transform: translate(-3px, 0);
  }
}

@-webkit-keyframes ligth {
  0% {
    background-position-y: -154px;
  }
  15% {
    background-position-y: 154px;
  }
  15.01% {
    background-position-y: -154px;
  }
  100% {
    background-position-y: -154px;
  }
}

@keyframes ligth {
  0% {
    background-position-y: -154px;
  }
  15% {
    background-position-y: 154px;
  }
  15.01% {
    background-position-y: -154px;
  }
  100% {
    background-position-y: -154px;
  }
}

.run1 {
  background-image: url(../Images/run1.png) !important;
}

.run2 {
  background-image: url(../Images/run2.png) !important;
}

.run3 {
  background-image: url(../Images/run3.png) !important;
}

@media screen and (max-width: 640px) {
  @-webkit-keyframes ligth {
    0% {
      background-position-x: -25vw;
    }
    15% {
      background-position-x: 25vw;
    }
    15.01% {
      background-position-x: -25vw;
    }
    100% {
      background-position-x: -25vw;
    }
  }
  @keyframes ligth {
    0% {
      background-position-x: -25vw;
    }
    15% {
      background-position-x: 25vw;
    }
    15.01% {
      background-position-x: -25vw;
    }
    100% {
      background-position-x: -25vw;
    }
  }
}

.goBuyWrap {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1080px;
  width: 1080px;
  z-index: 3;
}

@media screen and (max-width: 1100px) {
  .goBuyWrap {
    width: auto;
  }
}

.goBuyWrap .goBuy {
  position: absolute;
  top: 20px;
  right: -9px;
  display: inline-block;
  padding: 15px 10px;
  border-radius: 8px;
  background-color: #fa7101;
  cursor: pointer;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;
  z-index: 2;
}

.goBuyWrap .goBuy:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  height: 154px;
  background-image: url(../Images/light.png);
  background-repeat: no-repeat;
  -webkit-animation: ligth 3.2s infinite;
          animation: ligth 3.2s infinite;
}

@media screen and (max-width: 1100px) {
  .goBuyWrap .goBuy {
    right: 0;
  }
}

.goBuyWrap .goBuy .run {
  width: 32px;
  height: 32px;
  margin-bottom: 5px;
  overflow: hidden;
  background-image: url(../Images/run3.png);
  -webkit-animation: run .65s infinite;
          animation: run .65s infinite;
}

.goBuyWrap .goBuy span {
  display: block;
  padding-left: 4px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.goBuyWrap .goBuy:hover {
  -webkit-transition: box-shadow .2s;
  transition: box-shadow .2s;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 640px) {
  .goBuyWrap {
    display: none;
  }
}

.videoPopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.videoPopup .videoContainer {
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 853px;
  max-height: 480px;
}

.videoPopup .close {
  position: absolute;
  top: 113px;
  left: 0;
  right: -728px;
  width: 125px;
  line-height: 45px;
  margin: auto;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  background-color: #1a9ce3;
  border-bottom: 2px solid #005ebe;
  cursor: pointer;
}

.videoPopup .close svg {
  width: 21px;
  height: 21px;
  margin-right: 9px;
}

@media screen and (max-width: 640px) {
  .videoPopup .videoContainer {
    top: 0;
    max-width: 133.28125vw;
    max-height: 75vw;
  }
  .videoPopup .close {
    top: 100vw;
    left: 0;
    right: 0;
    margin: auto;
    width: 26.5625vw;
    line-height: 10vw;
    font-size: 5.46875vw;
    border-bottom: 0;
    border-radius: 1.25vw;
  }
  .videoPopup .close svg {
    width: 4.53125vw;
    height: 4.53125vw;
    margin-right: 1.5625vw;
  }
}

.footer {
  position: relative;
  border-top: 2px solid #1a9ce3;
  z-index: 1;
}

.footer .wrap {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px 10px;
}

.footer .logoWrap {
  letter-spacing: -4px;
  white-space: -4px;
  font-size: 0;
}

.footer .linkWrap {
  margin-bottom: 10px;
}

.footer .linkWrap a {
  font-size: 14px;
  color: #2ba3e5;
  border-bottom: 1px solid;
}

.footer .linkWrap a:first-child {
  margin-right: 14px;
}

.footer .warnings {
  line-height: 17px;
  font-size: 14px;
  letter-spacing: .45px;
  font-weight: bold;
  color: #5f5f5f;
  text-justify: distribute\0;
  text-align: justify;
}

.footer .warnings p {
  margin-bottom: 10px;
}

.footer .warnings em {
  font-weight: bold;
  color: #2ba3e5;
}

.footer .info {
  line-height: 20px;
  font-size: 14px;
  color: #0e2d6d;
}

.footer .info a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.footer .info p:first-of-type a {
  margin-left: 8px;
}

.footer .info p:last-of-type a {
  margin-left: 18px;
}

.footer .info p:last-of-type a:first-of-type {
  margin: 0;
}

.footer .desktop {
  display: inline-block;
}

.footer .mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .footer {
    background-color: #1a9ce3;
  }
  .footer .wrap {
    padding: 0 3.125vw 15.625vw;
  }
  .footer .logoWrap img {
    max-width: 50%;
  }
  .footer .linkWrap {
    margin-bottom: 3.125vw;
  }
  .footer .linkWrap a {
    font-size: 3.75vw;
    color: #fff;
  }
  .footer .linkWrap a:first-child {
    margin-right: 2.1875vw;
  }
  .footer .warnings {
    line-height: 4.6875vw;
    font-size: 3.75vw;
    letter-spacing: 0.07031vw;
    color: #002664;
  }
  .footer .warnings p {
    margin-bottom: 2.34375vw;
  }
  .footer .warnings em {
    color: #fff;
  }
  .footer .info {
    line-height: 5.3125vw;
    font-size: 3.75vw;
    color: #fff;
  }
  .footer .info a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
  }
  .footer .info p:first-of-type a {
    display: block;
    margin: 0;
  }
  .footer .info p:last-of-type a {
    margin-left: 3.90625vw;
  }
  .footer .info p:last-of-type a:last-of-type {
    display: block;
    margin: 0;
  }
  .footer .desktop {
    display: none;
  }
  .footer .mobile {
    display: block;
  }
}

body {
  min-width: 1100px;
}

body.pageload * {
  -webkit-transition: none !important;
  transition: none !important;
}

.oldIE {
  display: none;
}

.readyShow {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translate(0, -60px);
          transform: translate(0, -60px);
}

.readyDelayShow {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.readyTextShow {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

.readyDelayTextShow {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

.scrollShow {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translate(0, 60px);
          transform: translate(0, 60px);
}

.scrollTextShow {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

img {
  -webkit-transition: all .8s;
  transition: all .8s;
}

.content {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 0 40px;
}

.picBox {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 10px;
  z-index: 2;
}

.picBox img {
  -webkit-transition: all .8s;
  transition: all .8s;
}

.picBox .mobile {
  display: none;
}

.title {
  position: relative;
  width: 380px;
  line-height: 60px;
  margin: 140px 0 24px;
  padding-left: 70px;
  font-size: 44px;
  font-weight: bold;
  color: #1a9ce3;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.article {
  padding: 44px 100px 30px;
  background-color: #d1ebf9;
}

.article .section p {
  line-height: 27px;
  text-justify: distribute\0;
  text-align: justify;
  font-size: 18px;
  color: #1d1d1d;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.article .section b {
  font-weight: bold;
}

.article .section h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
}

.article .section .icon {
  width: 23px;
  height: 22px;
  margin-right: 7px;
}

.article .section1 {
  margin-bottom: 45px;
}

.article .section1 p {
  margin-bottom: 15px;
}

.article .section1 p:first-child {
  width: 560px;
  text-align-last: justify;
}

.article .section2 {
  margin-bottom: 45px;
}

.article .section2 h2 {
  color: #00a0e9;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.article .section2 .icon {
  fill: #00a0e9;
}

.article .section2 .icon .tick {
  fill: #952d98;
}

.article .section3 h2 {
  color: #952d98;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.article .section3 .icon {
  fill: #952d98;
}

.article .section3 .chartWrap {
  margin: 15px 0 0;
}

.article .chartWrap {
  margin: 25px 0 0;
}

.article .chartWrap .mobile {
  display: none;
}

.article .chartBox {
  position: relative;
}

.article .chartBox .actionChart {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.article .info {
  margin-top: 20px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.article .info p {
  line-height: 15px;
  font-size: 13px;
}

.article .info ol {
  margin: 5px 0 0;
  padding: 0;
}

.article .info li {
  margin-bottom: 5px;
}

.article .info li p {
  display: inline-block;
  line-height: 15px;
  padding: 0;
  font-size: 13px;
}

.article .info li span {
  display: inline-block;
  margin-right: 3px;
  padding-top: 2px;
  vertical-align: top;
  font-size: 12px;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

@media screen and (max-width: 640px) {
  body {
    min-width: auto;
  }
  .readyShow {
    -webkit-transform: translate(0, -5.2vw);
            transform: translate(0, -5.2vw);
  }
  .readyTextShow {
    -webkit-transform: translate(0, 3.125vw);
            transform: translate(0, 3.125vw);
  }
  .scrollShow {
    -webkit-transform: translate(0, 9.375vw);
            transform: translate(0, 9.375vw);
  }
  .content {
    position: relative;
    padding: 13.59375vw 0 0;
  }
  .picBox {
    top: 21.09375vw;
    right: 7.03125vw;
  }
  .picBox img {
    width: 34.53125vw;
  }
  .picBox .desktop {
    display: none;
  }
  .picBox .mobile {
    display: block;
  }
  .title {
    position: relative;
    width: 51.5625vw;
    line-height: 7.8125vw;
    margin: 10.15625vw 0 5.46875vw;
    padding-left: 7.8125vw;
    font-size: 5.9375vw;
    font-weight: bold;
    color: #1a9ce3;
  }
  .article {
    padding: 0 4.6875vw 0 4.6875vw;
    background: none;
  }
  .article .section p {
    line-height: 6.25vw;
    padding: 0 2.8125vw 0 2.8125vw;
    font-size: 4.375vw;
  }
  .article .section h2 {
    margin-bottom: 3.125vw;
    font-size: 4.6875vw;
  }
  .article .section .icon {
    width: 4.375vw;
    height: 4.21875vw;
    margin-right: 1.09375vw;
  }
  .article .section1 {
    margin: 0 -4.6875vw 7.03125vw -4.6875vw;
    padding: 9.375vw 3.125vw 2.34375vw 3.125vw;
    background-color: #D1EBF9;
  }
  .article .section1 p {
    width: auto !important;
    margin-bottom: 3.90625vw;
  }
  .article .section1 p:first-child {
    text-align-last: auto;
  }
  .article .section1 p .desktop {
    display: none;
  }
  .article .section1 p .mobile {
    display: block;
  }
  .article .section2 {
    margin-bottom: 7.03125vw;
  }
  .article .section3 .chartWrap {
    margin: 5.9375vw 0 0;
  }
  .article .chartWrap {
    margin: 6.25vw 0 0;
  }
  .article .chartWrap .desktop {
    display: none;
  }
  .article .chartWrap .mobile {
    display: block;
  }
  .article .chartBox:nth-of-type(1) img {
    width: 90.15625vw;
  }
  .article .chartBox:nth-of-type(2) img {
    width: 90.15625vw;
  }
  .article .info {
    margin-top: 4.6875vw;
  }
  .article .info p {
    line-height: 3.90625vw;
    font-size: 3.125vw;
  }
  .article .info ol {
    margin: 0.78125vw 0 7.8125vw;
    padding: 0 2.65625vw;
  }
  .article .info li {
    margin-bottom: 0.9375vw;
  }
  .article .info li p {
    width: 80vw;
    line-height: 3.90625vw;
    font-size: 3.125vw;
  }
  .article .info li span {
    margin: 0;
    padding-top: 0.46875vw;
    font-size: 1.875vw;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 640px) and (max-width: 375px) {
  .article .info li span {
    padding: 0;
  }
}
