.p1 .kv_wrap {
  .hand {
    opacity: 0;
    transition: opacity .8s;
    animation: float 10s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  }
  & + .menu {
    opacity: 0;
  }
  & ~ .article_content .title_box {
    transform: translate3d(0,12%,0);
    opacity: 0;
    transition: transform .44s cubic-bezier(0.540, 0.750, 0.380, 1.300) 1s, opacity .44s 1s;
  }

  &.animation {
    .hand {
      opacity: 1;
    }
  }
  &.animation + .menu {
    opacity: 1;
    @media screen and (min-width: 1025px) {
      animation: menu 3.14s;
    }
  }
  &.animation ~ .article_content .title_box {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes float {
  0% { transform: translate3d(0,0,0); }
  50% { transform: translate3d(0,2%,0); }
  100% { transform: translate3d(0,0,0); }
}
@keyframes menu {
  0% {
    transform: translate3d(0,4%,0);
    opacity: 0;
  }
  18% {
    transform: translate3d(0,4%,0);
    opacity: 0;
  }
  34% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}


@media screen and (max-width: 1024px) {
  //手機板選單動畫
  .p1 .kv_wrap {
    &.animation + .menu {
      transform: translate3d(0,-100%,0);
      transition: transform .44s;
    }
    &.animation + .menu.open {
      transform: translate3d(0,0,0);
    }
  }
}

