.mobile { display: none; }

.article_box {
  text-align: center;
  padding-top: 74px;
  h3 {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    color: #3271ab;
    span {
      display: inline-block;
      padding: 0 48px;
      background-color: #fff;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 100%;
      height: 8px;
      background-color: #b9d5ee;
      z-index: -1;
    }
  }

  .article_content {
    text-align: left;
    max-width: 960px;
    margin: 0 auto;
  }

  .info {
    line-height: 1.4;
    font-size: 13px;
    color: #221815;
  }
}


@media screen and (max-width: 1400px) {
  .article_box {
    padding-top: 74/1400*100+vw;
    h3 span { padding: 0 48/1400*100+vw; }
    .article_content { margin-left: 240/1400*100+vw; }
  }
}


@media screen and (max-width: 1024px) {
  .mobile { display: block; }
  .article_box {
    padding-top: 120px;
    h3 {
      font-size: 54px;
      span { padding: 0 38px; }
      &:before { height: 8px; }
    }
    .article_content {
      max-width: 710px;
      margin: 0 auto;
    }
    .info { font-size: 24px; }
  }
}


@media screen and (max-width: 750px) {
  .article_box {
    padding-top: 120/750*100+vw;
    h3 {
      font-size: 54/750*100+vw;
      span { padding: 0 38/750*100+vw; }
      &:before { height: 8/750*100+vw; }
    }
    .article_content { max-width: 710/750*100+vw; }
    .info { font-size: 24/750*100+vw; }
  }
}